Menu:

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/01_Cos_è_Dark_Dungeons' | relative_url }}">Cos'è Dark Dungeons</a>
  <li><a href="{{ '/02_Dentro_Dark_Dungeons' | relative_url }}">Dentro Dark Dungeons</a>
  <li><a href="{{ '/03_Concetti_Fondamentali_del_Gioco' | relative_url }}">Concetti fondamentali del gioco</a>
  <li><a href="{{ '/04_Creazione_del_Personaggio' | relative_url }}">Creazione del personaggio</a>
  <ul>
    <li><a href="{{ '/04.1_Chierico' | relative_url }}">Chierico</a>
    <li><a href="{{ '/04.2_Elfo_(Classe)' | relative_url }}">Elfo</a>
    <li><a href="{{ '/04.3_Guerriero' | relative_url }}">Guerriero</a>
    <li><a href="{{ '/04.4_Halfling_(Classe)' | relative_url }}">Halfling</a>
    <li><a href="{{ '/04.5_Ladro' | relative_url }}">Ladro</a>
    <li><a href="{{ '/04.6_Mago' | relative_url }}">Mago</a>
    <li><a href="{{ '/04.7_Mistico' | relative_url }}">Mistico</a>
    <li><a href="{{ '/04.8_Nano_(Classe)' | relative_url }}">Nano</a>
    </ul>
  <li><a href="{{ '/licenza' | relative_url }}">Licenza</a>
  </ul>